---
const donation = {
  url: 'https://syncable.biz/en/associate/rainbow-culion/business/1518',
  logoUrl: '/assets/images/Syncable_logo.png'
};

---

<section id="donation" class="row justify-content-end">
  <div class="col-md-4" style="text-align: right;">
    <a href={donation.url} style="text-decoration: none; color:#000; margin-right: 10px;"><img src={donation.logoUrl} style="width:30px; margin-right: 10px;"/>donate to this translation
      project</a>
  </div>
</section>