---
import '../styles/fontSizeButton.css'
// import '../scripts/fontSizeButton.js'

---

<div class="change-font-size">
    <!-- <button onclick="change-fs(3.2)" data-fs="3.2">大</button>
    <button onclick="change-fs(1.6)" data-fs="1.6">中</button>
    <button onclick="change-fs(1.2)" data-fs="1.2">小</button> -->
    <button class="change-fs small active" data-fs="1.0">A</button>
    <button class="change-fs middle " data-fs="1.6">A</button>
    <button class="change-fs large" data-fs="2.4">A</button>
</div>

<script src="../scripts/fontSizeButton.js"></script>

