---

const { title, num } = Astro.props;
// console.log("header_num", num)
const imageUrl = "/assets/images/hananiawan-" + num + ".png"
---

<header>
    <div class="main-chapter row justify-content-end">
        <div id="chapter_num" style="visibility: hidden;">{num}</div>
        <h1 id={title}>{title}</h1>
        <div class="fig"><img src={imageUrl} alt="cover"></div>
    </div>
</header>
