---
import ThemeIcon from './ThemeIcon.astro';
import Offcanvas from './Offcanvas.astro';
---

<!-- ナビゲーションバー -->
<nav class="navbar navbar-light bg-light fixed-top" id="navbar">
  <!-- タイトル -->
  <a class="navbar-brand" href="/index.html">Hana ni Awan</a>
  <!-- <ThemeIcon /> -->
  <Offcanvas />
</nav>
