---

// import ThemeIcon from './ThemeIcon.astro';
import Offcanvas from './Offcanvas.astro';
import FontSizeButton from './FontSizeButton.astro';
---


<!-- ナビゲーションバー -->
<nav class="navbar navbar-light bg-light fixed-top" id="navbar">
  <!-- タイトル -->
  <a class="navbar-brand" href="/index.html">Hana ni Awan</a>
  <FontSizeButton />
  <!-- <ThemeIcon /> -->
  <Offcanvas />
</nav>
