---
import ThemeIcon from './ThemeIcon.astro';
import Offcanvas from './Offcanvas.astro';
---

<!-- <div class="nav-links">
  <a href="/">ホーム</a>
  <a href="/about/">概要</a>
  <a href="/blog/">ブログ</a>
  <a href="/tags/">タグ</a>
</div> -->

<!-- ナビゲーションバー -->
<nav class="navbar navbar-light bg-light fixed-top" id="navbar">
  <!-- タイトル -->
  <a class="navbar-brand" href="/index.html">Hana ni Awan</a>
  <ThemeIcon />
  <Offcanvas />
</nav>
