---

---
  <!-- pagination -->
  <nav aria-label="Page navigation" id="pagination">
    <ul class="pagination justify-content-center">
      <li class="page-item" id="prev">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item active" id="active"><a class="page-link" href="#"></a></li>
      <li class="page-item" id="next">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- end pagination-->

  <script src="../scripts/setSectionToSubchapter.js"></script>
  <script src="../scripts/main.js"></script>

